{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Instagram clonee - {{title}}</title>
  {% else %}
  <title> Instagram clonee </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock %}

</head>

<body>
  {% include "navbar.html" %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-7">

        {% block content %}

        <h1 class='text-center'>
          {{date|date:"l d-F Y"}}</h1>
        {% endblock %}
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}

</body>

</html>